@{
    ViewBag.title = "電表數據統計";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@model List<MeterRecord>


<div>
    <h2>電表數據統計</h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" style="color:white;">
            <strong>電表查詢-電表數據統計</strong>
        </li>
    </ol>
</div>

<div class="">

</div>
