@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<script>
    window.onload = function () {
        const chartData = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'Sample Data',
                data: [65, 59, 80, 81, 56, 55, 40],
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 255, 255, 0.2)',
                pointBackgroundColor: 'rgba(255, 255, 255, 1)',
                pointBorderColor: '#FFFFFF',
                borderWidth: 1
            }]
        };

        const chartElements = document.querySelectorAll('.DataChart');

        chartElements.forEach(canvas => {
            const ctx = canvas.getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: {
                    scales: {
                        y: {
                            ticks: {
                                color: '#FFFFFF',
                            },
                            beginAtZero: true
                        },
                        x: {
                            ticks: {
                                color: '#FFFFFF',
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
        });
    }
</script>

<div class="form-group row mx-auto">

    <label class="col-lg-1 col-form-label">API</label>
    <div class="col-lg-4 chart-container">
        <canvas class="DataChart"></canvas>
    </div>

    <label class="col-lg-1 col-form-label">CPU</label>
    <div class="col-lg-4 chart-container">
        <canvas class="DataChart"></canvas>
    </div>

    <label class="col-lg-1 col-form-label">WiFi</label>
    <div class="col-lg-4 chart-container">
        <canvas class="DataChart"></canvas>
    </div>

</div>
<hr>
<div class="form-group row mx-auto">

    <label class="col-lg-1 col-form-label">API</label>
    <div class="col-lg-4 chart-container">
        <canvas class="DataChart"></canvas>
    </div>

    <label class="col-lg-1 col-form-label">CPU</label>
    <div class="col-lg-4 chart-container">
        <canvas class="DataChart"></canvas>
    </div>

    <label class="col-lg-1 col-form-label">WiFi</label>
    <div class="col-lg-4 chart-container">
        <canvas class="DataChart"></canvas>
    </div>

</div>

<style>
    .chart-container {
        width: 200px;
        height: 100px;
    }
</style>
